.primary_btn {
  width: 100px;
  height: 35px;
  border-radius: 20px;
  color: white;
  background-color: var(--primary-blue);
  font-size: 1.1rem;
}

.btn_wrapper {
  display: flex;
  gap: 8px;
}

.arrow_btn {
  width: 35px;
  background-color: var(--white);
  border: 1px solid var(--primary-blue);
  border-radius: 9999px;
  transition: 0.2s;

  &:hover {
    background-color: #d8c6e880;
  }
}

.arrow_none {
  display: none;
}
